<div class="trade-auth-shell" layout="row" layout-align="center center" layout-fill>
    <div class="trade-auth-panel trade-forgot-panel" flex="90" flex-gt-xs="70" flex-gt-sm="48" flex-gt-md="34">
        <div class="trade-login-heading"><div class="trade-login-eyebrow">BUYER ONBOARDING</div><h1>Verify account</h1><p>Enter the registration verification details.</p></div>
        <form name="verificationForm" novalidate ng-submit="submit()">
            <md-input-container class="md-block trade-login-input"><label>Request ID</label><md-icon class="material-icons">confirmation_number</md-icon><input name="requestId" ng-model="vm.verifyData.requestId" required><div ng-messages="verificationForm.requestId.$error" role="alert"><div ng-message="required">Request ID is required.</div></div></md-input-container>
            <md-input-container class="md-block trade-login-input"><label>Authentication token</label><md-icon class="material-icons">vpn_key</md-icon><input name="authenticationToken" ng-model="vm.verifyData.authenticationToken" required><div ng-messages="verificationForm.authenticationToken.$error" role="alert"><div ng-message="required">Authentication token is required.</div></div></md-input-container>
            <md-button type="submit" class="trade-login-submit md-raised md-block" ng-disabled="verificationForm.$invalid || verificationForm.$pristine">Verify account</md-button>
            <div class="trade-auth-footer" layout="row" layout-align="center center"><md-button type="button" ui-sref="register">Back to registration</md-button></div>
        </form>
    </div>
</div>